﻿<!DOCTYPE html>
<html>
<head>
    
    <title></title>
    <script src="Scripts/angular.js"></script>
</head>

<body>

</body>
</html>

<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Lew's BitBucket Test</title>
</head>
<body ng-controller="Main as vm">

    <input type="text" ng-model="vm.food" placeholder="Enter food" />

    <p>Fish is great with {{vm.food}}!</p>

    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/main.js"></script>

</body>
</html>